@import '../../../styles/variables';

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__container {
    display: flex;
    flex-grow: 1;
  }

  &__content {
    flex-grow: 1;
    padding-bottom: $footer-bar-height;
  }
}
