@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/35BCC0_0_0.eot');
  src: url('fonts/35BCC0_0_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/35BCC0_0_0.woff2') format('woff2'), url('fonts/35BCC0_0_0.woff') format('woff'),
    url('fonts/35BCC0_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/35BCC0_1_0.eot');
  src: url('fonts/35BCC0_1_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/35BCC0_1_0.woff2') format('woff2'), url('fonts/35BCC0_1_0.woff') format('woff'),
    url('fonts/35BCC0_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/35BCC0_3_0.eot');
  src: url('fonts/35BCC0_3_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/35BCC0_3_0.woff2') format('woff2'), url('fonts/35BCC0_3_0.woff') format('woff'),
    url('fonts/35BCC0_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/35BCC0_4_0.eot');
  src: url('fonts/35BCC0_4_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/35BCC0_4_0.woff2') format('woff2'), url('fonts/35BCC0_4_0.woff') format('woff'),
    url('fonts/35BCC0_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/35BCC0_5_0.eot');
  src: url('fonts/35BCC0_5_0.eot?#iefix') format('embedded-opentype'),
    url('fonts/35BCC0_5_0.woff2') format('woff2'), url('fonts/35BCC0_5_0.woff') format('woff'),
    url('fonts/35BCC0_5_0.ttf') format('truetype');
}
